{
    "nevents": {{ nevents }}, 
    "target_thickness": {{ target_thickness }},
    "beam_energy": {{ beam_energy }},
    "num_electrons": {{ num_electrons }},
    "target_z": {{ target_z }},
    "run_number": {{ run_number }},
    "seed": {{job_id + 879482}}, 
    "detector": "{{ detector }}",
    "filter_no_cuts": true,
    "steering_files": {
        "readout": "{{ steering_readout }}",
        "recon": "{{ steering_reco }}"
    },
    "input_files": {
      "{{ job.input_files['events'][0] }}" : "idm.lhe"
    },
    {% set out_dir = job.input_files['events'][0] | dirname | dirname %}
    {% set filename = "idm_%s_%d"%(run_params, job_id) %}
    "output_files": {
        "idm_rot_filt.slcio" : "sim/{{ filename }}.slcio",
        "idm_rot_filt_readout.slcio" : "readout/{{ filename }}.slcio",
        "idm_rot_filt_readout_recon.slcio" : "recon/{{ filename }}.slcio"
    },
    "output_dir": "{{ out_dir }}"
}
