{
    "detector": "{{ detector }}",
    "run_number" : 7800,
    "steering" : "kf",
    "input_files": {
        "{{ job.input_files['events'][0] }}": "events.slcio"
    },
    "output_files": {
        "events_{{ steering }}_mille.bin": "{{ input_files['events'][0] | basename }}_mille.bin",
        "events_{{ steering }}_mille_gblplots.root": "{{ input_files['events'][0] | basename }}_gblplots.root"
    },
    "defs" : {
        "compositeAlign" : false,
        "doCOMAlignment" : false
    },
    "output_dir": "/sdf/group/hps/users/eichl008/hps/2016-align/{{ detector }}/no-constraint-tracking",
    "steering_files" : {
      "kf": "/sdf/group/hps/users/eichl008/hps/2016-align/tracking/tracking_kf_alignment.lcsim"
    }
}

